tls:
  stores:
    default:
      defaultCertificate:
          keyFile: "/certs/cfg/live/${WILDCARD_DOMAIN}/privkey.pem"
          certFile: "/certs/cfg/live/${WILDCARD_DOMAIN}/fullchain.pem"

tls:
  options:
    websocket:
      alpnProtocols:
        - http/1.1

